# Core Framework
Flask==3.0.3
Werkzeug==3.0.3

# Database
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
psycopg2-binary==2.9.9

# Authentication & Security
Flask-Login==0.6.3

# Email
Flask-Mail==0.10.0

# CORS
Flask-CORS==4.0.1

# Environment & Config
python-dotenv==1.0.1

# AI / Gemini
google-generativeai==0.7.2

# HTTP client (used in chatbot service)
requests==2.32.3

# Utilities
python-slugify==8.0.4
Pillow==10.4.0

# WSGI Server
gunicorn==22.0.0

postgresql://krishan_portfolio_db_user:WEXZ61LOWXszBL3gXfJDOTd0i0VkZQBs@dpg-d9hia9mpbkes73a4v30g-a/krishan_portfolio_db